<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="1; url=https://twitch-rbot.herokuapp.com/">
    <title>Bot Manager</title>
    <link rel="stylesheet" type="text/css" href="/css/style1.css">
</head>
<body>
    <h4>Actualizando transmisión...</h4>
</body>
</html>